In [16]:
import pandas as pd

In [17]:
analys_polytechnic_record_personal_access = pd.read_csv('C:/Users/franj/Desktop/PAI UEX Repositorios/education_drop/Data/For_Analysis_and_Modeling/2nd_process/7th_quadrimester/pred_analys_polytechnic_record_personal_access.csv',
                                                       sep = '|')

In [18]:
analys_polytechnic_record_personal_access.head()

,anio_apertura_expediente,abandona,convocatoria_acceso,des_acceso,1st_model,scholarship,anio_nacimiento_interval,2nd_model,3rd_model,4th_model,5th_model,6th_model,7th_model,cum_pass_ratio,nota_admision_def,cum_absent,des_plan,expediente,cod_plan,8th_model
0,2009-10,0,JUN,Selectividad,0,N,"(1990.0, 1995.0]",0,0,0,0,0,0,0.275862,7.16,0.258621,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,1,1623,0
1,2009-10,1,JUN,Formación Profesional,1,N,"(1985.0, 1990.0]",0,0,1,1,1,1,0.327273,8.10,0.545455,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,7,1623,1
2,2009-10,0,JUN,Selectividad,0,N,"(1990.0, 1995.0]",0,0,0,0,0,0,0.307692,7.17,0.369231,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,8,1623,0
3,2009-10,0,JUN,Selectividad,0,N,"(1990.0, 1995.0]",1,1,1,0,0,0,0.237288,7.64,0.305085,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,12,1623,0
4,2009-10,0,JUN,Selectividad,0,N,"(1990.0, 1995.0]",0,0,0,0,0,0,0.543860,6.95,0.175439,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,13,1623,0

In [19]:
pr_polytechnic_plan_subject_call = pd.read_csv('../../../../../Data/Processed/Polytechnic/Plan_Subject_Call/pr_polytechnic_plan_subject_call.csv', sep='|')

In [20]:
pr_polytechnic_plan_subject_call.head()

,expediente,cod_plan,des_plan,cod_asignatura,des_asignatura,curso_asignatura,semestre,tipo_linea,tipologia_asignatura,des_tipogia_asignatura,curso_academico,convocatoria,nota_alf,nota_num,des_nota,numero_convocatorias_agotadas,fin_estudios
0,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2009-10,FEB,SS,1.0,SUSPENSO,1,S
1,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2009-10,SEP,P,NaN,NO PRESENTADO,1,S
2,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2010-11,FEB,SS,2.0,SUSPENSO,2,S
3,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2010-11,SEP,P,NaN,NO PRESENTADO,2,S
4,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2011-12,FEB,AP,5.0,APROBADO,3,S

In [21]:
pr_polytechnic_scholarship_per_year = pd.read_csv('../../../../../Data/Processed/Polytechnic/Scolarship_per_year/pr_polytechnic_scholarship_per_year.csv', sep='|')

In [22]:
pr_polytechnic_scholarship_per_year.head()

,expediente,curso_academico,cod_plan,des_plan,becario
0,1,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,N
1,2,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,S
2,3,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,S
3,4,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,N
4,5,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,N

In [23]:
analys_polytechnic_record_personal_access['cod_plan'] = analys_polytechnic_record_personal_access['cod_plan'].astype("category")
pr_polytechnic_plan_subject_call['cod_plan'] = pr_polytechnic_plan_subject_call['cod_plan'].astype("category")
pr_polytechnic_scholarship_per_year['cod_plan'] = pr_polytechnic_scholarship_per_year['cod_plan'].astype("category")

### Eliminamos datos que no teníamos en el análisis anterior

In [24]:
titulaciones = analys_polytechnic_record_personal_access['cod_plan'].cat.categories

In [25]:
def delete_out_analys_values(df, df_concat):
    for t in titulaciones:
        analys_polytechnic_record_personal_access_t = analys_polytechnic_record_personal_access[
            analys_polytechnic_record_personal_access['cod_plan'] == t]
        df_t = df[df['cod_plan'] == t]
        df_t = df_t[df_t['expediente'].isin(
            analys_polytechnic_record_personal_access_t['expediente'])]

        df_concat = pd.concat([df_concat, df_t], ignore_index=True)
        
    return df_concat

In [26]:
final_plan_subject_call = pd.DataFrame(columns=pr_polytechnic_plan_subject_call.columns)

In [27]:
final_plan_subject_call = delete_out_analys_values(pr_polytechnic_plan_subject_call, final_plan_subject_call)

In [28]:
final_plan_subject_call.head()

,expediente,cod_plan,des_plan,cod_asignatura,des_asignatura,curso_asignatura,semestre,tipo_linea,tipologia_asignatura,des_tipogia_asignatura,curso_academico,convocatoria,nota_alf,nota_num,des_nota,numero_convocatorias_agotadas,fin_estudios
0,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2009-10,FEB,SS,1.0,SUSPENSO,1,S
1,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2009-10,SEP,P,NaN,NO PRESENTADO,1,S
2,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2010-11,FEB,SS,2.0,SUSPENSO,2,S
3,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2010-11,SEP,P,NaN,NO PRESENTADO,2,S
4,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,500911,DIBUJO I,1.0,1S,O,T,TRONCAL,2011-12,FEB,AP,5.0,APROBADO,3,S

In [29]:
pr_polytechnic_plan_subject_call.shape[0]

193513

In [30]:
final_plan_subject_call.shape[0]

53511

In [31]:
final_plan_subject_call.groupby('des_plan')['expediente'].nunique()

des_plan
GRADO EN EDIFICACIÓN                                              76
GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES               116
GRADO EN INGENIERÍA CIVIL - HIDROLOGÍA                            33
GRADO EN INGENIERÍA CIVIL - TRANSPORTES Y SERVICIOS URBANOS       35
GRADO EN INGENIERÍA DE SONIDO E IMAGEN EN TELECOMUNICACIÓN       128
GRADO EN INGENIERÍA INFORMÁTICA EN INGENIERÍA DE COMPUTADORES    119
GRADO EN INGENIERÍA INFORMÁTICA EN INGENIERÍA DEL SOFTWARE       226
Name: expediente, dtype: int64

In [32]:
final_scolarship_per_year = pd.DataFrame(columns=pr_polytechnic_scholarship_per_year.columns)

In [33]:
final_scolarship_per_year = delete_out_analys_values(pr_polytechnic_scholarship_per_year, final_scolarship_per_year)

In [34]:
final_scolarship_per_year.head()

,expediente,curso_academico,cod_plan,des_plan,becario
0,1,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,N
1,7,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,N
2,8,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,N
3,12,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,S
4,13,2009-10,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,N

In [35]:
final_scolarship_per_year.groupby('des_plan')['expediente'].nunique()

des_plan
GRADO EN EDIFICACIÓN                                              76
GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES               116
GRADO EN INGENIERÍA CIVIL - HIDROLOGÍA                            33
GRADO EN INGENIERÍA CIVIL - TRANSPORTES Y SERVICIOS URBANOS       35
GRADO EN INGENIERÍA DE SONIDO E IMAGEN EN TELECOMUNICACIÓN       128
GRADO EN INGENIERÍA INFORMÁTICA EN INGENIERÍA DE COMPUTADORES    119
GRADO EN INGENIERÍA INFORMÁTICA EN INGENIERÍA DEL SOFTWARE       226
Name: expediente, dtype: int64

In [38]:
analys_polytechnic_record_personal_access.head()

,anio_apertura_expediente,abandona,convocatoria_acceso,des_acceso,1st_model,scholarship,anio_nacimiento_interval,2nd_model,3rd_model,4th_model,5th_model,6th_model,7th_model,cum_pass_ratio,nota_admision_def,cum_absent,des_plan,expediente,cod_plan,8th_model
0,2009-10,0,JUN,Selectividad,0,N,"(1990.0, 1995.0]",0,0,0,0,0,0,0.275862,7.16,0.258621,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,1,1623,0
1,2009-10,1,JUN,Formación Profesional,1,N,"(1985.0, 1990.0]",0,0,1,1,1,1,0.327273,8.10,0.545455,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,7,1623,1
2,2009-10,0,JUN,Selectividad,0,N,"(1990.0, 1995.0]",0,0,0,0,0,0,0.307692,7.17,0.369231,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,8,1623,0
3,2009-10,0,JUN,Selectividad,0,N,"(1990.0, 1995.0]",1,1,1,0,0,0,0.237288,7.64,0.305085,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,12,1623,0
4,2009-10,0,JUN,Selectividad,0,N,"(1990.0, 1995.0]",0,0,0,0,0,0,0.543860,6.95,0.175439,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIV...,13,1623,0

In [39]:
p_data = final_plan_subject_call[(final_plan_subject_call['cod_plan'] == 1623) &
                   (final_plan_subject_call['expediente'] == 1)
                                ].sort_values(by=['curso_academico'])
courses = p_data['curso_academico'].unique()[0:1]

p_data = p_data[p_data['curso_academico'].isin(courses)]

In [40]:
def get_cum_p_data(p, curso:int, semestre:str):
    p_data = final_plan_subject_call[(final_plan_subject_call['cod_plan'] == p.cod_plan) &
                   (final_plan_subject_call['expediente'] == p.expediente)
                                ].sort_values(by=['curso_academico'])
    if len(p_data.index) > 0:
        courses = p_data['curso_academico'].unique()[0:curso]

        p_data = p_data[p_data['curso_academico'].isin(courses)]
        if len(p_data.index > 0):
            if(semestre == '1S'):
                try:
                    no_valid_data = p_data[(p_data['curso_academico']==courses[curso-1]) & 
                                   (p_data['semestre'] == '2S')].index
                    p_data = p_data[p_data.index.isin(no_valid_data) == False]
                except:
                    return pd.Series()
    return(p_data)

In [41]:
def get_course_p_data(p, curso:int, df:pd.DataFrame):
    p_data = df[(df['cod_plan'] == p.cod_plan)&(df['expediente'] == p.expediente)
               ].sort_values(by=['curso_academico'])
    if len(p_data.index) > 0:
        try:
            course = p_data['curso_academico'].unique()[curso-1]
            p_data = p_data[p_data['curso_academico'] == course]
        except:
            return pd.Series()
    return(p_data)

In [42]:
def get_cum_core_ratio(p, curso:int, semestre:str):
    p_data = get_cum_p_data(p, curso, semestre)
    
    if len(p_data.index) > 0:
   
        n_core_subjects  = len(p_data[p_data['tipologia_asignatura'] == 'T'].index)
        n_passed_core_subjects = len(p_data[(p_data['tipologia_asignatura'] == 'T') &
                                        (p_data['nota_num'] >= 5.0)].index)
        if n_core_subjects > 0:
    
            return (n_passed_core_subjects / n_core_subjects)
        else:
            return -1
    else:
        return -1

In [43]:
def get_cum_absent_ratio(p, curso:int, semestre:str):
    p_data = get_cum_p_data(p, curso, semestre)
    if len(p_data.index) > 0:
        n_subjects = len(p_data.index)
        n_absent_subjects = len(p_data[p_data['des_nota']=='NO PRESENTADO'].index)

        return (n_absent_subjects/n_subjects)
    else:
        return -1

In [44]:
def get_scholarship(p, curso:int):
    p_data = get_course_p_data(p, curso, final_scolarship_per_year)
    if len(p_data.index) > 0:
        return (p_data['becario'].values[0])
    else:
        return -1

In [45]:
def get_cum_pass_ratio(p, curso:int, semestre:str):
    p_data = get_cum_p_data(p, curso, semestre)
    if len(p_data.index) > 0: 
        n_subjects  = len(p_data.index)
        n_passed_subjects = len(p_data[p_data['nota_num'] >= 5.0].index)
        if n_subjects > 0:
            return (n_passed_subjects / n_subjects)
        else:
            return -1
    else:
        return -1

In [46]:
def get_cum_more_1st_call_ratio(p, curso:int, semestre:str):
    p_data = get_cum_p_data(p, curso, semestre)
    
    if len(p_data.index) > 0:
        n_more_1st_call_subjects = len(p_data[p_data['numero_convocatorias_agotadas']>1])
        n_subjects  = len(p_data.index)

        if n_subjects > 0:
            return (n_more_1st_call_subjects / n_subjects)
        else:
            return -1
    else:
        return -1

In [47]:
analys_polytechnic_record_personal_access['scholarship'] = analys_polytechnic_record_personal_access.apply(
lambda func: get_scholarship(func,4), axis=1)

In [48]:
analys_polytechnic_record_personal_access['cum_absent'] = analys_polytechnic_record_personal_access.apply(
lambda func: get_cum_absent_ratio(func,4,'2S'), axis=1)

In [49]:
analys_polytechnic_record_personal_access['cum_pass_ratio'] = analys_polytechnic_record_personal_access.apply(
lambda func: get_cum_pass_ratio(func,4,'2S'), axis=1)

In [50]:
analys_polytechnic_record_personal_access.shape

(733, 20)

In [51]:
analys_polytechnic_record_personal_access = analys_polytechnic_record_personal_access[analys_polytechnic_record_personal_access['cum_absent']!=-1]

In [52]:
analys_polytechnic_record_personal_access.shape

(733, 20)

In [53]:
analys_polytechnic_record_personal_access.isnull().sum()

anio_apertura_expediente    0
abandona                    0
convocatoria_acceso         0
des_acceso                  0
1st_model                   0
scholarship                 0
anio_nacimiento_interval    0
2nd_model                   0
3rd_model                   0
4th_model                   0
5th_model                   0
6th_model                   0
7th_model                   0
cum_pass_ratio              0
nota_admision_def           0
cum_absent                  0
des_plan                    0
expediente                  0
cod_plan                    0
8th_model                   0
dtype: int64

In [54]:
len(analys_polytechnic_record_personal_access.index)

733

In [55]:
analys_polytechnic_record_personal_access.to_csv('../../../../../Data/For_Analysis_and_Modeling/2nd_process/8th_quadrimester/analys_polytechnic_record_personal_access.csv', sep='|', index=False)