In [90]:
import pandas as pd

In [91]:
analys_teaching_record_personal_access = pd.read_csv('../../../../../Data/For_Analysis_and_Modeling/2nd_process/2nd_quadrimester/pred_analys_teaching_record_personal_access.csv',
                                                       sep = '|')

In [92]:
analys_teaching_record_personal_access.head()

,des_plan,anio_apertura_expediente,abandona,convocatoria_acceso,des_acceso,sexo,anio_nacimiento,anio_nacimiento_interval,1st_model,scolarship,2nd_model,nota_admision_def,cum_absent,cum_core_ratio,expediente,cod_plan,cum_median_interval,3rd_model
0,GRADO EN EDUCACIÓN SOCIAL,2010-11,0,JUN,Selectividad,D,1992,"(1990.0, 1995.0]",0,N,0,8.154,0.000000,1.000000,110,715,"(6.0, 7.5]",0
1,GRADO EN EDUCACIÓN SOCIAL,2011-12,1,JUN,Selectividad,H,1992,"(1990.0, 1995.0]",1,S,1,5.682,0.307692,0.428571,308,715,"(6.0, 7.5]",1
2,GRADO EN EDUCACIÓN SOCIAL,2012-13,0,JUN,Selectividad,D,1994,"(1990.0, 1995.0]",0,S,0,11.844,0.000000,1.000000,322,715,"(7.5, 9.0]",0
3,GRADO EN EDUCACIÓN SOCIAL,2012-13,0,JUN,Selectividad,D,1994,"(1990.0, 1995.0]",0,S,0,9.126,0.000000,1.000000,324,715,"(7.5, 9.0]",0
4,GRADO EN EDUCACIÓN SOCIAL,2012-13,1,JUN,Selectividad,D,1993,"(1990.0, 1995.0]",0,N,0,8.118,0.000000,0.666667,328,715,"(4.5, 6.0]",0

In [93]:
pr_teaching_plan_subject_call = pd.read_csv('../../../../../Data/Processed/Teaching/Plan_Subject_Call/pr_teaching_plan_subject_call.csv', sep='|')

In [94]:
pr_teaching_plan_subject_call.head()

,expediente,cod_plan,des_plan,cod_asignatura,des_asignatura,curso_asignatura,semestre,tipo_linea,tipologia_asignatura,des_tipogia_asignatura,curso_academico,convocatoria,nota_alf,nota_num,des_nota,numero_convocatorias_agotadas,fin_estudios
0,4,715,GRADO EN EDUCACIÓN SOCIAL,500445,ANTROPOLOGÍA SOCIAL,1,1S,O,T,TRONCAL,2009-10,FEB,NT,8.0,NOTABLE,1,S
1,4,715,GRADO EN EDUCACIÓN SOCIAL,500446,FUNDAMENTOS TEÓRICOS DE LA EDUCACIÓN,1,1S,O,T,TRONCAL,2009-10,FEB,AP,5.5,APROBADO,1,S
2,4,715,GRADO EN EDUCACIÓN SOCIAL,500447,PERSPECTIVA HISTORICA Y POLÍTICA DE LA EDUCACI...,1,1S,O,T,TRONCAL,2009-10,FEB,AP,6.5,APROBADO,1,S
3,4,715,GRADO EN EDUCACIÓN SOCIAL,500448,PSICOLOGÍA DEL CICLO VITAL,1,1S,O,T,TRONCAL,2009-10,FEB,NT,7.5,NOTABLE,1,S
4,4,715,GRADO EN EDUCACIÓN SOCIAL,500449,SOCIOLOGÍA GENERAL,1,1S,O,T,TRONCAL,2009-10,FEB,AP,6.1,APROBADO,1,S

In [95]:
pr_teaching_scholarship_per_year = pd.read_csv('../../../../../Data/Processed/Teaching/Scolarship_per_year/pr_teaching_scholarship_per_year.csv', sep='|')

In [96]:
pr_teaching_scholarship_per_year.head()

,expediente,curso_academico,cod_plan,des_plan,becario
0,0,2016-17,725,MÁSTER UNIV. DE ENSEÑANZA PORTUGUÉS LENG. EXTR...,N
1,1,2009-10,717,GRADO EN EDUCACIÓN PRIMARIA (CÁCERES),S
2,1,2010-11,717,GRADO EN EDUCACIÓN PRIMARIA (CÁCERES),N
3,1,2011-12,717,GRADO EN EDUCACIÓN PRIMARIA (CÁCERES),N
4,1,2012-13,717,GRADO EN EDUCACIÓN PRIMARIA (CÁCERES),N

In [97]:
analys_teaching_record_personal_access['cod_plan'] = analys_teaching_record_personal_access['cod_plan'].astype("category")
pr_teaching_plan_subject_call['cod_plan'] = pr_teaching_plan_subject_call['cod_plan'].astype("category")
pr_teaching_scholarship_per_year['cod_plan'] = pr_teaching_scholarship_per_year['cod_plan'].astype("category")

### Eliminamos datos que no teníamos en el análisis anterior

In [98]:
titulaciones = analys_teaching_record_personal_access['cod_plan'].cat.categories

In [99]:
def delete_out_analys_values(df, df_concat):
    for t in titulaciones:
        analys_teaching_record_personal_access_t = analys_teaching_record_personal_access[
            analys_teaching_record_personal_access['cod_plan'] == t]
        df_t = df[df['cod_plan'] == t]
        df_t = df_t[df_t['expediente'].isin(
            analys_teaching_record_personal_access_t['expediente'])]

        df_concat = pd.concat([df_concat, df_t], ignore_index=True)
        
    return df_concat

In [100]:
final_plan_subject_call = pd.DataFrame(columns=pr_teaching_plan_subject_call.columns)

In [101]:
final_plan_subject_call = delete_out_analys_values(pr_teaching_plan_subject_call, final_plan_subject_call)

In [102]:
final_plan_subject_call.head()

,expediente,cod_plan,des_plan,cod_asignatura,des_asignatura,curso_asignatura,semestre,tipo_linea,tipologia_asignatura,des_tipogia_asignatura,curso_academico,convocatoria,nota_alf,nota_num,des_nota,numero_convocatorias_agotadas,fin_estudios
0,110,715,GRADO EN EDUCACIÓN SOCIAL,500445,ANTROPOLOGÍA SOCIAL,1,1S,O,T,TRONCAL,2010-11,FEB,NT,7.25,NOTABLE,1,S
1,110,715,GRADO EN EDUCACIÓN SOCIAL,500446,FUNDAMENTOS TEÓRICOS DE LA EDUCACIÓN,1,1S,O,T,TRONCAL,2010-11,FEB,AP,6.20,APROBADO,1,S
2,110,715,GRADO EN EDUCACIÓN SOCIAL,500447,PERSPECTIVA HISTORICA Y POLÍTICA DE LA EDUCACI...,1,1S,O,T,TRONCAL,2010-11,FEB,NT,8.00,NOTABLE,1,S
3,110,715,GRADO EN EDUCACIÓN SOCIAL,500448,PSICOLOGÍA DEL CICLO VITAL,1,1S,O,T,TRONCAL,2010-11,FEB,NT,7.40,NOTABLE,1,S
4,110,715,GRADO EN EDUCACIÓN SOCIAL,500449,SOCIOLOGÍA GENERAL,1,1S,O,T,TRONCAL,2010-11,FEB,NT,7.90,NOTABLE,1,S

In [103]:
pr_teaching_plan_subject_call.shape[0]

232961

In [104]:
final_plan_subject_call.shape[0]

83447

In [105]:
final_plan_subject_call.groupby('des_plan')['expediente'].nunique()

des_plan
GRADO EN EDUCACIÓN INFANTIL (CÁCERES)                               577
GRADO EN EDUCACIÓN PRIMARIA (CÁCERES)                               877
GRADO EN EDUCACIÓN PRIMARIA. Modalidad Bilingüe (Español-Inglés)    130
GRADO EN EDUCACIÓN SOCIAL                                           384
Name: expediente, dtype: int64

In [106]:
final_scolarship_per_year = pd.DataFrame(columns=pr_teaching_scholarship_per_year.columns)

In [107]:
final_scolarship_per_year = delete_out_analys_values(pr_teaching_scholarship_per_year, final_scolarship_per_year)

In [108]:
final_scolarship_per_year.head()

  expediente curso_academico cod_plan                   des_plan becario
0        110         2010-11      715  GRADO EN EDUCACIÓN SOCIAL       N
1        110         2011-12      715  GRADO EN EDUCACIÓN SOCIAL       N
2        110         2012-13      715  GRADO EN EDUCACIÓN SOCIAL       N
3        110         2013-14      715  GRADO EN EDUCACIÓN SOCIAL       N
4        308         2011-12      715  GRADO EN EDUCACIÓN SOCIAL       S

In [109]:
final_scolarship_per_year.groupby('des_plan')['expediente'].nunique()

des_plan
GRADO EN EDUCACIÓN INFANTIL (CÁCERES)                               577
GRADO EN EDUCACIÓN PRIMARIA (CÁCERES)                               877
GRADO EN EDUCACIÓN PRIMARIA. Modalidad Bilingüe (Español-Inglés)    130
GRADO EN EDUCACIÓN SOCIAL                                           384
Name: expediente, dtype: int64

In [110]:
analys_teaching_record_personal_access.head()

,des_plan,anio_apertura_expediente,abandona,convocatoria_acceso,des_acceso,sexo,anio_nacimiento,anio_nacimiento_interval,1st_model,scolarship,2nd_model,nota_admision_def,cum_absent,cum_core_ratio,expediente,cod_plan,cum_median_interval,3rd_model
0,GRADO EN EDUCACIÓN SOCIAL,2010-11,0,JUN,Selectividad,D,1992,"(1990.0, 1995.0]",0,N,0,8.154,0.000000,1.000000,110,715,"(6.0, 7.5]",0
1,GRADO EN EDUCACIÓN SOCIAL,2011-12,1,JUN,Selectividad,H,1992,"(1990.0, 1995.0]",1,S,1,5.682,0.307692,0.428571,308,715,"(6.0, 7.5]",1
2,GRADO EN EDUCACIÓN SOCIAL,2012-13,0,JUN,Selectividad,D,1994,"(1990.0, 1995.0]",0,S,0,11.844,0.000000,1.000000,322,715,"(7.5, 9.0]",0
3,GRADO EN EDUCACIÓN SOCIAL,2012-13,0,JUN,Selectividad,D,1994,"(1990.0, 1995.0]",0,S,0,9.126,0.000000,1.000000,324,715,"(7.5, 9.0]",0
4,GRADO EN EDUCACIÓN SOCIAL,2012-13,1,JUN,Selectividad,D,1993,"(1990.0, 1995.0]",0,N,0,8.118,0.000000,0.666667,328,715,"(4.5, 6.0]",0

In [111]:
def get_cum_p_data(p, curso:int, semestre:str):
    p_data = final_plan_subject_call[(final_plan_subject_call['cod_plan'] == p.cod_plan) &
                   (final_plan_subject_call['expediente'] == p.expediente)
                                ].sort_values(by=['curso_academico'])
    if len(p_data.index) > 0:
        courses = p_data['curso_academico'].unique()[0:curso]

        p_data = p_data[p_data['curso_academico'].isin(courses)]
        if len(p_data.index > 0):
            if(semestre == '1S'):
                try:
                    no_valid_data = p_data[(p_data['curso_academico']==courses[curso-1]) & 
                                   (p_data['semestre'] == '2S')].index
                    p_data = p_data[p_data.index.isin(no_valid_data) == False]
                except:
                    return pd.Series()
    return(p_data)

In [112]:
def get_course_p_data(p, curso:int, df:pd.DataFrame):
    p_data = df[(
        df['cod_plan'] == p.cod_plan) 
        &(df['expediente'] == p.expediente)
    ].sort_values(by=['curso_academico'])
    try:
        course = p_data['curso_academico'].unique()[curso-1]
        p_data = p_data[p_data['curso_academico'] == course]
    except:
        return pd.Series()
    return(p_data)

In [113]:
def get_cum_core_ratio(p, curso:int, semestre:str):
    p_data = get_cum_p_data(p, curso, semestre)
    if len(p_data.index) > 0:
        n_core_subjects  = len(p_data[p_data['tipologia_asignatura'] == 'T'].index)
        n_passed_core_subjects = len(p_data[(p_data['tipologia_asignatura'] == 'T') &
                                            (p_data['nota_num'] >= 5.0)].index)
        if n_core_subjects > 0:

            return (n_passed_core_subjects / n_core_subjects)
        else:
            return -1
    else: 
        return -1

In [114]:
def get_cum_median(p, curso:int, semestre:str):
    import numpy as np
    p_data = get_cum_p_data(p, curso, semestre)
    if len(p_data.index) > 0:
        return np.nanmedian(p_data['nota_num'])
    else:
        return -1

In [115]:
def get_semester_median(p, curso:int, semestre:str):
    import numpy as np
    p_data = get_course_p_data(p, curso, final_plan_subject_call)
    if len(p_data.index) > 0:
        p_data = p_data[p_data['semestre']==semestre]
        return np.nanmedian(p_data['nota_num'])
    else:
        return -1

In [116]:
def get_cum_absent_ratio(p, curso:int, semestre:str):
    p_data = get_cum_p_data(p, curso, semestre)
    if len(p_data.index > 0):
        n_subjects = len(p_data.index)
        n_absent_subjects = len(p_data[p_data['des_nota']=='NO PRESENTADO'].index)

        return (n_absent_subjects/n_subjects)
    else:
        return -1

In [117]:
def get_scolarship(p, curso:int):
    p_data = get_course_p_data(p, curso,final_scolarship_per_year)
    if len(p_data.index) > 0:
        return (p_data['becario'].values[0])
    else:
        return -1

In [118]:
def get_cum_pass_ratio(p, curso:int, semestre:str):
    p_data = get_cum_p_data(p, curso, semestre)
    if len(p_data.index) > 0: 
        n_subjects  = len(p_data.index)
        n_passed_subjects = len(p_data[p_data['nota_num'] >= 5.0].index)
        if n_subjects > 0:
            return (n_passed_subjects / n_subjects)
        else:
            return -1
    else:
        return -1

In [119]:
def get_cum_more_1st_call_ratio(p, curso:int, semestre:str):
    p_data = get_cum_p_data(p, curso, semestre)
    
    if len(p_data.index) > 0:
        n_more_1st_call_subjects = len(p_data[p_data['numero_convocatorias_agotadas']>1])
        n_subjects  = len(p_data.index)

        if n_subjects > 0:
            return (n_more_1st_call_subjects / n_subjects)
        else:
            return -1
    else:
        return -1

In [120]:
analys_teaching_record_personal_access['cum_core_ratio'] = analys_teaching_record_personal_access.apply(
lambda func: get_cum_core_ratio(func,2,'1S'), axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()

In [121]:
len(analys_teaching_record_personal_access.index)

1968

**Aquellos datos con el valor a -1 es porque tenemos sus datos a partir del 2º curso**

In [122]:
analys_teaching_record_personal_access = analys_teaching_record_personal_access[analys_teaching_record_personal_access['cum_core_ratio'] != -1]

In [123]:
len(analys_teaching_record_personal_access.index)

1855

In [124]:
analys_teaching_record_personal_access['scolarship'] = analys_teaching_record_personal_access.apply(
lambda func: get_scolarship(func,2), axis=1)

In [125]:
analys_teaching_record_personal_access['cum_absent'] = analys_teaching_record_personal_access.apply(
lambda func: get_cum_absent_ratio(func,2,'1S'), axis=1)

In [126]:
analys_teaching_record_personal_access['cum_median'] = analys_teaching_record_personal_access.apply(
lambda func: get_cum_median(func,2,'1S'), axis=1)

In [127]:
analys_teaching_record_personal_access['cum_pass_ratio'] = analys_teaching_record_personal_access.apply(
lambda func: get_cum_pass_ratio(func,2,'1S'), axis=1)

In [128]:
analys_teaching_record_personal_access['cum_more_1st_call_ratio'] = analys_teaching_record_personal_access.apply(
lambda func: get_cum_more_1st_call_ratio(func,2,'1S'), axis=1)

In [129]:
analys_teaching_record_personal_access['median_semester'] = analys_teaching_record_personal_access.apply(
lambda func: get_semester_median(func,2,'1S'), axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1114: RuntimeWarning: All-NaN slice encountered
  overwrite_input=overwrite_input)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1111: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [130]:
analys_teaching_record_personal_access.isnull().sum()

des_plan                     0
anio_apertura_expediente     0
abandona                     0
convocatoria_acceso          0
des_acceso                   0
sexo                         0
anio_nacimiento              0
anio_nacimiento_interval     0
1st_model                    0
scolarship                   0
2nd_model                    0
nota_admision_def            0
cum_absent                   0
cum_core_ratio               0
expediente                   0
cod_plan                     0
cum_median_interval          0
3rd_model                    0
cum_median                   0
cum_pass_ratio               0
cum_more_1st_call_ratio      0
median_semester             10
dtype: int64

In [131]:
analys_teaching_record_personal_access.head()

,des_plan,anio_apertura_expediente,abandona,convocatoria_acceso,des_acceso,sexo,anio_nacimiento,anio_nacimiento_interval,1st_model,scolarship,...,cum_absent,cum_core_ratio,expediente,cod_plan,cum_median_interval,3rd_model,cum_median,cum_pass_ratio,cum_more_1st_call_ratio,median_semester
0,GRADO EN EDUCACIÓN SOCIAL,2010-11,0,JUN,Selectividad,D,1992,"(1990.0, 1995.0]",0,N,...,0.000000,1.000000,110,715,"(6.0, 7.5]",0,7.55,1.000000,0.000000,7.78
1,GRADO EN EDUCACIÓN SOCIAL,2011-12,1,JUN,Selectividad,H,1992,"(1990.0, 1995.0]",1,N,...,0.409091,0.411765,308,715,"(6.0, 7.5]",1,6.50,0.409091,0.136364,5.00
2,GRADO EN EDUCACIÓN SOCIAL,2012-13,0,JUN,Selectividad,D,1994,"(1990.0, 1995.0]",0,S,...,0.000000,1.000000,322,715,"(7.5, 9.0]",0,7.50,0.937500,0.062500,7.15
3,GRADO EN EDUCACIÓN SOCIAL,2012-13,0,JUN,Selectividad,D,1994,"(1990.0, 1995.0]",0,N,...,0.000000,1.000000,324,715,"(7.5, 9.0]",0,8.50,1.000000,0.000000,8.50
5,GRADO EN EDUCACIÓN SOCIAL,2012-13,0,JUN,Selectividad,D,1992,"(1990.0, 1995.0]",0,S,...,0.000000,0.833333,329,715,"(6.0, 7.5]",0,7.00,0.833333,0.166667,7.00

In [132]:
analys_teaching_record_personal_access.to_csv('../../../../../Data/For_Analysis_and_Modeling/2nd_process/3rd_quadrimester/analys_teaching_record_personal_access.csv', sep='|', index=False)